.nav {
    width: 80%;
    position: relative;
    top: 20px;
    margin: 0 auto;
}   

.nav-container {
    position: relative;
}

.nav-button {
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 3;
    top: 28px;
    right: 100px;
    background: transparent;
    cursor: pointer;
}

.nav-button .fa {
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
    color: black;
    z-index: 3;
}


.nav-menu {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    background: black;
    height: 100%;
    transform: skewX(0deg) translate(100%,0);
    transform-origin: top right;
    transition: all .2s ease-in;
    z-index: 3;
}

.nav-menu.active {
    transform: skewX(8deg) translate(0,0);    
}

.nav-menu ul {
    transform: skewX(-8deg);
    transform-origin: top left;
    position: fixed;
    right: 120px;
    top: 120px;
    width: 400px;
    text-align: right;
}

.nav-menu li {
    position: relative;
    z-index: 999;
    font-size: 32px;
    color: hsl(0,0%,10%);
    line-height: 64px;
    list-style: none;
    font-family: impact;
    font-weight: 300;
    color: hsl(0,0%,70%);
    opacity: 0;
    transform: translate(0, 10px);
    transition: all .0s ease-in .3s;
}

.nav-menu.active li {
    opacity: 1;
    transform: translate(0,0);
    transition: all .2s ease-in 0s;
}

.nav-menu.active li:nth-child(1) {
    transition-delay: .3s;
}

.nav-menu.active li:nth-child(2) {
    transition-delay: .4s;
}

.nav-menu.active li:nth-child(3) {
    transition-delay: .5s;
}

.nav-menu.active li:nth-child(4) {
    transition-delay: .6s;
}

.nav-menu.active li:nth-child(5) {
    transition-delay: .7s;
}

.nav-menu.active li:nth-child(6) {
    transition-delay: .8s;
}

.menu-a {
    border: none;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1400px) {
    .nav-button {
        right: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .nav {
        top: 15px;
    }

    .nav-button {
        top: 23px;
        right: 30px;
    }

    .nav-menu {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .nav {
        height: 40px;
    }
}

@media screen and (max-width: 700px) {
    .nav-menu {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .nav {
        top: 2px;
    } 

    .nav-button {
        top: 10px;
        right: 20px;
    }

    .nav-menu {
        width: 85%;
    }
}

@media screen and (max-width: 450px) {
    .nav-menu {
        width: 95%;
    }

    .nav-menu ul {
        right: 70px;
        top: 100px;
    }
}

@media screen and (max-width: 350px) {
    .nav-menu ul {
        right: 30px;
        top: 30px;
    }
}