@font-face {
    font-family: "Century Gothic";
    src: url(../Fonts/07558_CenturyGothic.ttf);
}

@font-face {
    font-family: "Semplicite";
    src: url(../Fonts/semplicitapro-bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: lightgrey;
    transition: 0.5s;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: black;
    transition: 0.5s;
    clip-path: circle(250px at center);
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
}

.container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 200px);
    left: 50%;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    transform: translateX(-50%) translateY(calc(50px * var(--i))) rotate(40deg) skew(-20deg, -10deg) scale(0.6);
    box-shadow: 25px 25px 100px rgba(0, 0, 0, 0.2);
    z-index: calc(-1 * var(--i));
    transition: 0.5s;
}

.card h2 {
    margin-bottom: 25px;
    font-size: 2rem;
}

.card p {
    font-size: 1.3rem;
}

.c1 {
    font-family: 'Calligraffitti', cursive;
    background: #fff;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;    
    margin: 30px auto 0 auto;
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    color: black;
}

.btn:hover {
    color: #984a44;
    border-top: solid #984a44;
}

.c2 {
    font-family: "Century Gothic";
    background: #fff;
}

.btn-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;    
    margin: 30px auto 0 auto;
    background: none;
    border: 4px solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    color: lightblue;
}

/* Création des deux petits éléments qui serviront à l'animation des boutons */
.btn-a::before, .btn-a::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 6px;
    background: #fff;
    transform: skewX(50deg);
    transition: .4s linear;
}

/* Placement des deux petits éléments qui serviront à l'animation des boutons */
.btn-a::before {
    top: -5px;
    left: 10%;
}

.btn-a::after {
    bottom: -5px;
    right: 10%;
}
/**/

/* Animation des deux petits éléments */
.btn-a:hover::before {
    left: 80%;
}

.btn-a:hover::after {
    right: 80%;
}
/**/

.c3 {
    font-family: "Semplicite";
    background: #fff;
}

.c3 h2, .c3 p {
    color: white;
}

.inputsub {
    font-family: "Semplicite";
    border: 0;
    background: none;
    display: block;
    margin: 30px auto 0 auto;
    text-align: center;
    border: 2px solid #EBE645;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.inputsub:hover {
    background: #EBE645b3;
}

.container .card:nth-child(2) {
    opacity: 0.8;
}

.container .card:nth-child(3) {
    opacity: 0.6;
}

.container:hover .card {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    opacity: 1;
    transform: translateX(calc(-50% + calc(350px * var(--i)))) translateY(-50%) rotate(0deg) skew(0deg, 0deg) scale(1);
}

.container:hover .c1 {
    background-image: url(../images/background-page.png);
}

.container:hover .c3 {
    background: #000957;
}

.container .card .content {
    position: relative;
    padding: 25px;
    color: #333;
    opacity: 0;
    transition: 0.5s;
}

.container:hover .card .content {
    opacity: 1;
    transition-delay: calc(0.2s * var(--j));
    transform: translateY(0px);
}

@media (max-width: 991px) {
    body::before {
        clip-path: circle(0px at center);
    }

    .container {
        width: 100%;
        height: initial;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .container .card {
        position: relative;
        top: initial;
        left: initial;
        transform: initial;
        margin: 20px;
        opacity: 1 !important;
    }

    .c1 {
        background-image: url(../images/background-page.png);
    }
    
    .c3 {
        background: #000957;
    }

    .container:hover,
    .container:hover .card {
        position: relative;
        top: initial;
        left: initial;
        transform: initial;
    }

    .container .card .content {
        transform: initial;
        opacity: 1;
    }
}